<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="button.css" rel="stylesheet">
</head>

<body>
    <section class="container">
        <!-- <a class="button button--default" href="">Log in</a> -->
        <a class="button button--outline" href="">Get Started</a>
        <a class="button button--secondary" href="">Get Started</a>
        <a class="button button--primary" href="">Learn More</a>
    </section>
</body>

</html>
