<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../button/button.css" rel="stylesheet">
        <link href="get-started-today.css" rel="stylesheet">
        <link href="../../css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>
    	<section class="get-started-today">
            <h2 class="get-started-today__title">Get Started Today</h2>
            <p>Don't waste another moment frustrated. Reach more people today!</p>
    		<a class="button button--secondary" href="">Get Started</a>
    	</section>
    </body>
</html>
