body {
	font-family: 'Open Sans', sans-serif;
}

.get-started-today {
	background-color: rgb(4, 140, 244);
	display: flex;
	color: #fff;
	flex-direction: column;
	align-items: center;
	padding: 50px 20px;
	justify-content: space-around;
	min-height: 330px;
	text-align: center;
}
