<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../css/font-awesome/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Palanquin+Dark:600|Paytone+One" rel="stylesheet">
	<link rel="stylesheet" href="../button/button.css">
	<link href="hero.css" rel="stylesheet">
</head>
<body>
	<header id="hero">
		
		<nav class="hero__nav">
			<a class="nav__title" href="#">reach.me</a>
			<div class="nav__buttons">
				<button class="button button__terciary" href="">Log in</button>
				<button class="button button__terciary--color" href="">Get Started</button>
			</div>
			<label class="nav__burguer" for="nav__toggle">
				<span></span>
				<span></span>
				<span></span>
			</label>
			<input id="nav__toggle" type="checkbox">
			<ul class="nav__links">
				<li><a href="#">features</a></li>
				<li><a href="#">princing</a></li>
				<li><a href="#">about us</a></li>
				<li><a href="#">blog</a></li>
				<li><a href="#">contact us</a></li>
			</ul>
		</nav>
		<hr>
		<section class="hero__reachme-features">
			<article class="reachme-box">
				<h1 class="reachme-box__title">Reach.me Features</h1>
				<h2 class="reachme-box__sub-title">Schudule, Automate, Mensure and Monitor all your social media accounts from  a single dashboard.</h2>
				<button class="button button__primary" href="">Learn More</button>
			</article>
			<!-- <img class="reachme-img" src="../../img/grafico.jpg" alt=""> -->
		</section>
	</header>
	
</body>
</html>