<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../css/font-awesome/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Palanquin+Dark:600|Paytone+One" rel="stylesheet">
	<link rel="stylesheet" href="../button/button.css">
	<link href="hero.css" rel="stylesheet">
</head>
<body>
	<header id="hero">
		<nav class="hero-navbar">
			<a class="hero-navbar__title" href="#">reach.me</a>
			<input id="hero-navbar__toggle" type="checkbox">
			<ul class="navbar-pages">
				<li class="hero-navbar__link" ><a  href="#">features</a></li>
				<li class="hero-navbar__link" ><a  href="#">princing</a></li>
				<li class="hero-navbar__link navbar-pages__link--active"><a href="#">about us</a></li>
				<li class="hero-navbar__link" ><a  href="#">blog</a></li>
				<li class="hero-navbar__link" ><a  href="#">contact us</a></li>
			</ul>
			<div class="hero-navbar__buttons">
				<button class="button button__terciary" href="">Log in</button>
				<button class="button button__terciary--color" href="">Get Started</button>
			</div>
			<label class="hero-navbar__burguer" for="hero-navbar__toggle">
				<span></span>
				<span></span>
				<span></span>
			</label>
		</nav>
		<hr class="hero-navbar__line">
		<section class="hero-reachme">
			<article class="hero-reachme-box">
				<h1 class="hero-reachme-box__title">Reach.me Features</h1>
				<h2 class="hero-reachme-box__sub-title">Schudule, Automate, Mensure and Monitor all your social media accounts from  a single dashboard.</h2>
				<button class="button button__primary" href="">Learn More</button>
			</article>
			<img class="hero-reachme-img" src="../../img/hero-foto.png" alt="">
		</section>
	</header>
	
</body>
</html>