<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="reason__step-background">
        <article class="reason__step">
            <h2 class="reason__step-h1">Brand Monitoring</h2>
            <p class="reason__step-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus quae, omnis excepturi a architecto facere nihil ducimus commodi, molestiae cum labore tempora quas sunt veniam eos quasi. Quod, repellendus, dolorum!</p>
        </article>
        <article class="reason__step-reverse">
            <h2 class="reason__step-h1">Analytics</h2>
            <p class="reason__step-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus quae, omnis excepturi a architecto facere nihil ducimus commodi, molestiae cum labore tempora quas sunt veniam eos quasi. Quod, repellendus, dolorum!</p>
            <img src="comp.png" alt="Imagem de computador">
        </article>
    </div>
</body>
</html>