<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../button/button.css">
    <link rel="stylesheet" href="reason-step-background.css">
    <link rel="stylesheet" href="../icon/icon.css">
    <title>Document</title>
</head>
<body>
    <div class="reason__step-bg">
        <article class="reason__step-bg-article">
            <div class="reason__step-bg-article-content">
                <h2>Brand Monitoring</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus quae, omnis excepturi a architecto facere nihil ducimus commodi, molestiae cum labore tempora quas sunt veniam eos quasi. Quod, repellendus, dolorum!</p>
                <button class="button button__primary" href="">Get Started</button>
            </div>
            <div class="reason__step-bg-article-illustration">                
                <i class="icon icon--twitter fa fa-twitter fa-2x" aria-hidden="true"><a href="#"></a></i>
            </div>
        </article>
        <article class="reason__step-bg-article">
            <div class="reason__step-bg-article-content">
                <h2 class="reason__step-bg-h1">Analytics</h2>
                <p class="reason__step-bg-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus quae, omnis excepturi a architecto facere nihil ducimus commodi, molestiae cum labore tempora quas sunt veniam eos quasi. Quod, repellendus, dolorum!</p>
                <button class="button button__primary" href="">Get Started</button>
            </div>
            <div class="reason__step-bg-article-illustration">
                <img src="comp.png" alt="Imagem de computador">
            </div>
        </article>
    </div>
</body>
</html>