<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="footer.css" rel="stylesheet">
</head>

<body>
    <footer>
        <div class="logo">
            <h3 class="logo__title"></h3>
            <h4 class="logo__subtitle"></h4>
        </div>
        <ul class="footer-menu">
            <li class="footer-menu-items">Privacy Policy</li>
            <li class="footer-menu-items">Terms of Service</li>
            <li class="footer-menu-items">Option</li>
            <li class="footer-menu-items">Contact</li>
        </ul>
        <i></i>
        <i></i>
    </footer>
</body>

</html>