<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="footer.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <footer class="footer">
        <div class="footer__logo">
            <h3 class="logo__title">reach.me</h3>
            <h4 class="logo__subtitle">Powered by SENAI-Codexp</h4>
        </div>
        <ul class="footer__menu">
            <a class="footer__menu-link" href="#">
                <li class="footer__menu-item">Privacy Policy</li>
            </a>
            <a class="footer__menu-link" href="#">
                <li class="footer__menu-item">Terms of Service</li>
            </a>
            <a class="footer__menu-link" href="#">
                <li class="footer__menu-item">Option</li>
            </a>
            <a class="footer__menu-link" href="#">
                <li class="footer__menu-item">Contact</li>
            </a>
        </ul>
        <div class="footer__icons">
            <i class="footer__icon fa fa-facebook fa-2x"></i>
            <i class="footer__icon fa fa-twitter fa-2x"></i>
        </div>
    </footer>
</body>

</html>