<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../button/button.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/font-awesome/css/font-awesome.min.css">
    <link href="../icon/icon.css" rel="stylesheet">
    <link rel="stylesheet" href="reason-step.css">
</head>

<body>
    <article class="step step--lighter-blue">
        <div class="reasons-step">
            <h2 class="reasons-step__title">Social Publishing</h2>
            <p class="reasons-step__par">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus
                diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagitt is ipsum. Praesent mauris. Fusce
                nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.
            </p>
            <a class="button button--primary" href="">Learn More</a>
        </div>
        <img class="step__image" srcset="icon-social-publishing-small.png 214w, icon-social-publishing-medium.png 299w, icon-social-publishing-large.png 467w"
            sizes="(min-width: 320px) 100w, 30vw" src="icon-social-publishing-large.png" alt="Screen of app directory feature">
    </article>

    <article class="step step--reverse step--darker-blue">
        <div class="reasons-step">
            <h2 class="reasons-step__title">Engagement</h2>
            <p class="reasons-step__par">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus
                diam.
            </p>
            <p>
                <a href="#">
                    <i class="icon fa fa-facebook fa-2x" aria-hidden="true"></i>
                </a>
                +
                <a href="#">
                    <i class="icon icon--twitter fa fa-twitter fa-2x" aria-hidden="true"></i>
                </a>
                +
                <a href="#">
                    <i class="icon icon--linkedin fa fa-linkedin fa-2x" aria-hidden="true"></i>
                </a>
                +
                <a href="#">
                    <i class="icon icon--instagram fa fa-instagram fa-2x" aria-hidden="true"></i>
                </a>
            </p>
            <a class="button button--primary" href="">Learn More</a>
        </div>
        <img class="step__image" srcset="icon-engagement-small.png 214w, icon-engagement-medium.png 299w, icon-engagement-large.png 467w"
            sizes="(min-width: 320px) 100w, 30vw" src="icon-engagement-large.png" alt="Screen of app directory feature">
    </article>

    <article class="step step--white">
        <div class="reasons-step">
            <h2 class="reasons-step__title">Collaboration</h2>
            <p class="reasons-step__par">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus
                diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
                tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosq.
            </p>
            <a class="button button--primary" href="">Learn More</a>
        </div>
        <img class="step__image" srcset="icon-collaboration-small.png 214w, icon-collaboration-medium.png 299w, icon-collaboration-large.png 467w"
            sizes="(min-width: 320px) 100w, 30vw" src="icon-collaboration-large.png" alt="Screen of app directory feature">
    </article>

    <article class="step step--reverse step--lighter-blue">
        <div class="reasons-step">
            <h2 class="reasons-step__title">App Directory</h2>
            <p class="reasons-step__par">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus
                diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
                tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosq.
            </p>
            <a class="button button--primary" href="">Learn More</a>
        </div>
        <img class="step__image" srcset="icon-app-directory-small.png 214w, icon-app-directory-medium.png 299w, icon-app-directory-large.png 467w"
            sizes="(min-width: 320px) 100w, 30vw" src="icon-app-directory-large.png" alt="Screen of app directory feature">
    </article>
</body>

</html>