* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40em;
  background-color: #f0f5f9;
  padding: 0 3% 0 3%;
}

.step__image {
    height: 50%;
}

.reason-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 14em;
}

.reason-step__title{
    font-size: 2em;
}

.reason-step__par {
    font-size: 1.3;
}

@media screen and (min-width: 768px) {
    .step {
        flex-direction: row;
        padding: 2%;
    }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {
  
}