<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../css/font-awesome/css/font-awesome.min.css">
	<link href="icon.css" rel="stylesheet">
</head>
<body>

	<a href="#">
		<i class="icon fa fa-facebook fa-2x" aria-hidden="true"></i>
	</a>
	<a href="#">
		<i class="icon icon--twitter fa fa-twitter fa-2x" aria-hidden="true"></i>
	</a>
	<a href="#">
		<i class="icon icon--linkedin fa fa-linkedin fa-2x" aria-hidden="true"></i>
	</a>
	<a href="#">
		<i class="icon icon--instagram fa fa-instagram fa-2x" aria-hidden="true"></i>
	</a>
	<a href="#">
		<img src="../../img/nike-icon.png" alt="">
	</a>
	
</body>
</html>